@page "/about"

<div class="about-section">
  <PageTitle>About</PageTitle>
  <h2 style="text-align:center">Some Guy</h2>
</div>

<div class="row">
    <div class="column">
        <div class="card">
          <img src="Resources\SpiderMan.png" alt="SpiderMan" style="width:100%">
          <div class="container">
            <h2>Donovan Prezeau</h2>
            <p class="title">Bored Developer</p>
            <p>Some text that describes me.</p>
            <p>Guy@Email.com</p>
            <p><button class="btn btn-primary">Contact</button></p>
          </div>
        </div>
    </div>
</div>

@code {

}
