@page "/fetchgithubdata"

<PageTitle>Github Repos</PageTitle>

@using Doprez.github.io.Data
@inject GithubRepoData GithubRepoData

<h1>Doprez's Github Repos</h1>

<p>My personal Git Repos on my public projects that I test random things with.</p>

@if (_repos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CloneUrl</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repo in _repos)
            {
                <tr>
                    <td>@repo.Name</td>
                    <td><a href=@repo.CloneUrl>@repo.CloneUrl</a>></td>
                    <td>@repo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Root>? _repos;

    protected override async Task OnInitializedAsync()
    {
        _repos = await GithubRepoData.GetGithubData();
    }
}
