@page "/"

<HeadContent>
	<PageTitle>Index</PageTitle>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</HeadContent>

<h1>Hello, world!</h1>

<p>This is a Blazor web app I am making just for a personal profile.</p>
<p>I am not a frontend web dev so I am truly sorry for any strangeness it shall be worked on</p>

