@inherits LayoutComponentBase

<PageTitle>Doprez.github.io</PageTitle>

<head><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /></head>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
